RotationExtractor/bin/
STM32L4R9DISCO-Platform-CM4hardfp_IAR83-1.0.0/build/
STM32L4R9DISCO-Platform-CM4hardfp_IAR83-1.0.0/source/
STM32L4R9DISCO-bsp/projects/microej/EWARM/Project.dep
STM32L4R9DISCO-bsp/projects/microej/EWARM/STM32L4R9I-Discovery/
STM32L4R9DISCO-bsp/projects/microej/EWARM/settings/Project.Release.cspy.bat
STM32L4R9DISCO-bsp/projects/microej/EWARM/settings/Project.Release.cspy.ps1
STM32L4R9DISCO-bsp/projects/microej/EWARM/settings/Project.Release.driver.xcl
STM32L4R9DISCO-bsp/projects/microej/EWARM/settings/Project.Release.general.xcl
STM32L4R9DISCO-bsp/projects/microej/EWARM/settings/Project.STM32L4R9I-Discovery.cspy.bat
STM32L4R9DISCO-bsp/projects/microej/EWARM/settings/Project.STM32L4R9I-Discovery.cspy.ps1
STM32L4R9DISCO-bsp/projects/microej/EWARM/settings/Project.STM32L4R9I-Discovery.driver.xcl
STM32L4R9DISCO-bsp/projects/microej/EWARM/settings/Project.STM32L4R9I-Discovery.general.xcl
STM32L4R9DISCO-bsp/projects/microej/EWARM/settings/Project.dbgdt
STM32L4R9DISCO-bsp/projects/microej/EWARM/settings/Project.dnx
STM32L4R9DISCO-bsp/projects/microej/EWARM/settings/Project.reggroups
STM32L4R9DISCO-bsp/projects/microej/EWARM/settings/Project.wsdt
STM32L4R9DISCO-bsp/projects/microej/EWARM/settings/Project_Release.jlink
STM32L4R9DISCO-configuration/dropins/include/intern/LLDEVICE_impl.h
STM32L4R9DISCO-configuration/dropins/include/LLDEVICE_impl.h
STM32L4R9DISCO-configuration/dropins/javaAPIs/device-1.1-api/
STM32L4R9DISCO-configuration/dropins/javaAPIs/device-1.1-api.jar
STM32L4R9DISCO-configuration/dropins/javaLibs/device-1.1.jar
STM32L4R9DISCO-configuration/dropins/mocks/mockdevice-mock.jar
STM32L4R9DISCO-configuration/dropins/scripts/deployInBSP*
STM32L4R9DISCO-configuration/dropins/scripts/deployToolBSPRun*
STM32L4R9DISCO-configuration/dropins/scripts/fullLink*
STM32L4R9DISCO-configuration/dropins/scripts/init-bsp/
STM32L4R9DISCO-configuration/dropins/scripts/init-device/
STM32L4R9DISCO-configuration/dropins/scripts/init-device-s3/
STM32L4R9DISCO-configuration/dropins/scripts/init-license-checker/
STM32L4R9DISCO-configuration/dropins/tools/license-checker.jar
STM32L4R9DISCO-configuration/dropins/workbenchExtension_device-wbe.jar
STM32L4R9DISCO-configuration/dropins/workbenchExtension_launchScriptFramework.jar
STM32L4R9DISCO-configuration/target~/
STM32L4R9DISCO-fp/lib/
